.episodes {
  text-align: center;
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */
  flex-flow: row wrap;
  justify-content: flex-start;
  /* justify-content: space-around, space-evenly; */
  /* align-content: stretch; */
  
}

.body {
  background-color: cornflowerblue;
  height: 450px;
  width: 350px;
  margin: auto;
  margin-bottom: 10px;
 
}
.header, .footer {
  background-color: darkolivegreen;
  width: 100%;
  text-align: center;
  /* height: 50px; */
 
}
.search-bar {
  margin: 10px;
}

.title {
  background-color: crimson;
}

.summary {
  /* padding-left: 10%;
  padding-right: 10%; */
}
